<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8" />
  <title>Inferno 2020 - IIT Mandi CTF v4.0</title>
  <link rel="icon" href="favicon.png" type="image" sizes="16x16">
</head>
<script src="js/jquery.js"></script>
<link rel="stylesheet" href="css/style.css">
<body class="terminal">
  <div class="terminal-wrapper">
    <div class="terminal-output">
      <div>
        <div style="width: 100%;">
          <span style="color: #f00">Inferno 2020<br> (Platform © Abhigyan Khaund)</span><br><br>
            <span><span style="color: #f00">'help'</span> for list of commands</span><br><br>
        </div>
      </div>
    </div>
    <div class="cmd">
      <span class="prompt">
        <span class="user" id="root">root:~/ guest$ </span>
      </span>
      <span id="live" role="presentation"></span><span role="presentation" class="cursor">&nbsp;</span><span id="live2" role="presentation"></span><br>
      <textarea autocapitalize="off" spellcheck="false" tabindex="1" rows="1" class="clipboard"></textarea>
    </div>
  </div>
  <script src="js/script.js"></script>
  <% if(user){%>
  <script>var username = '<%= user.local.name %>';
  logged = 1;</script>
  <% } %>
</body>
</html>
