<html>
<body>
<!-- Welcome to level 2 -->

<!-- It's good you're trying to look at the source code but nothing is in the source code. However I promis you that the key is on this page. -->

<!-- After finding the key you'd want a little hint too. That is 'Message Digest' -->

<!-- Happy capturing the flag! -->

</body>
</html>